<!-- templates/base_generic.html -->

<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}My Site{% endblock %}</title>
</head>

<body>
    <header>
        <h1>Business Site</h1>
        <nav>
            <ul>
                <li><a href="{% url 'owner_home' %}">Ana Sayfa</a></li>
      

                {% if user.is_authenticated %}
                <li><a href="{% url 'owner_profile' %}">Profile</a></li>
                <li><a href="{% url 'owner_logout' %}">Çıkış Yap</a></li>
                {% else %}
                <li><a href="{% url 'owner_login' %}">Giriş Yap</a></li>
                <li><a href="{% url 'owner_register' %}">Kayıt Ol</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>

</html>