<!-- accounts/templates/accounts/register.html -->

{% extends "owner/base_generic.html" %}

{% block title %}Kayıt Ol{% endblock %}

{% block content %}
  <h2>Business Kayıt Ol</h2>
  <form method="post">
    {% csrf_token %}
    <label for="username">Kullanıcı Adı:</label>
    <input type="text" id="username" name="username" required><br>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required><br>

    <label for="password1">Şifre:</label>
    <input type="password" id="password1" name="password1" required><br>

    <label for="password2">Şifre (Tekrar):</label>
    <input type="password" id="password2" name="password2" required><br>

    <button type="submit">Kayıt Ol</button>
  </form>
{% endblock %}
